@model CarRentalsSystem.Models.Bookings

<ul>
    <li>@Model.Id</li>
    <li>@Model.Booking_ref</li>
   
    <li>@Model.Booking_Date</li>
    <li>@Model.Return_Date</li>
    <li>@Model.CreatedAt</li>
</ul>
