@model IEnumerable<CarRentalsSystem.Models.RoleViewModel>
@{
    ViewData["Title"] = "Roles";
    int id = 1;
}

<div class="card">
    <h2>Role</h2>
</div>
<div class="card">
    <div class="card-header">
        <a class="btn btn-block" asp-controller="Role" asp-action="Create">Add a Role</a>
    </div>
</div>


<table class="table table-bordered">
    <thead>
        <tr style="color:aquamarine">
            <th>Id</th>
            <th> Name</th>
            <th>CreatedAt</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@(id++)</td>

                <td>@role.Name </td>

                <td>@role.CreatedAt</td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@role.Id">Details</a>
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                    <a class="btn btn-success" asp-action="Update" asp-route-id="@role.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>